
.coaches {
    padding: 0rem 2rem;
    margin-top: 3rem;
}

body {
    margin: 0; 
    overflow-x: hidden; 
}

.coaches h1 {
    text-align: left;
    font-size: 2.7rem;
    margin-bottom: 3rem;
    margin-left: 10px;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-weight: 300;
}

.coach-card {
    background-color: #ffffff0d;
    border-radius: 12px;
    padding: 2rem;
    display: flex;
    align-items: center; 
    gap: 20px; 
    margin-bottom: 40px; 
    max-width: 100%; 
    box-sizing: border-box;
}

.coach-img {
    width: 200px;
    margin-right: 20px;
}

.coach-img img {
    width: 100%; 
    border-radius: 12px; 
    object-fit: cover; 
}

.coach-text {
    flex: 1; 
    color: #fff; 
}

.coach-text h2 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: "Lato", sans-serif;
    font-weight: 500;
}

.coach-text h3 {
    color: #ffffffa9;
    margin-bottom: 1.5rem;
    font-size: 1.15rem;
    line-height: 1.5;
    font-family: "Poppins";
    font-weight: 500;
}

.coach-text p {
    line-height: 1.4;
    font-family: "Poppins", sans-serif;
    margin-top: 15px;
}

@media (max-width: 768px) {
    .coaches h1 {
        text-align: center;
    }
    
    .coach-card {
        flex-direction: column; 
        align-items: center;
        text-align: center;
    }

    .coach-img {
        margin-right: 0; 
        margin-bottom: 20px;
    }

    .coach-text h2, .coach-text h3 {
        text-align: center; 
    }

    .coach-text p {
        text-align: left;
    }

    .coach-img img {
        width: 150px;
        border-radius: 8px;
    }
}
